.but{
	 background-color: white;
  color: black;
  border: 2px solid #767F9B;
  padding: 12px 26px;
  font-size: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 50px;

}
.but:hover{
  transition: all 0.3s ease-out;
  background: #555B61;
  color: white;
  transition: 250ms;
  cursor: pointer;
}

@media screen and (min-width: 100px) and (max-width: 1024px) {

.test{
position: relative;
right: 0;
width: 50%;
padding-bottom: 250px;
}

.texts{

position: relative;
text-align: left;
font-size: 12px;
color: #555B61;
padding-right: 100px;

	
}

.video{

float: center;
margin-right: 20px;
padding-top: 20px;
}
.conteneur{

position: relative;
height: 10px;
padding-bottom: 60.25%;
overflow: hidden;
}

.bati{
position: relative;
font-size: 14px;

}


.lien{
loat: left;
width: 80%;
height: 80%;
position: absolute;
padding-right: 0px;
margin-left: 30px;
margin-top: 30px;
}

.phrase1{
float: left;
position:"relative";
text-align: left;
padding-left: 70px;
font-size: 12px;
font-weight: bold;

color: #555B61;
	
}
.phrase2{
	float: left;
position:"relative";
text-align: left;
padding-left: 70px;
float: left;


font-size: 12px;


}

.phrase3{
float:left;
position:"relative";
padding-left:70px;
text-align: left;

font-size: 12px;
padding-bottom: 270px;
}
.home{
float:left;
position:"relative";
}




}


@media all and (min-width: 1023px) and (max-width: 2000px) {

.test{
float:right;
position: relative;
right: 0;


.home{
	
position: relative;
center: 0;
}

}

.video{
	
width: 100%;
margin-left: auto;
margin-right: auto;
}

.phrase1{

float: center;
position:"relative";
font-size: 16px;
font-weight: bold; 
color: #555B61;
}

.phrase2{
position:"relative";
float: left;
padding-top: 10px;
text-align: left;
font-size: 13px;


}

.phrase3{
position:"relative";
float: center;
padding-top: 20px;
font-size: 13px;
padding-top: 10px;
text-align: left;
margin-right: 30px;


	
}


.conteneur{
float: center;
position: relative;
height: 10px;
padding-bottom: 30.25%;
overflow: hidden;
	
}

.bati{
position: relative;
font-size: 24px;
text-align: center;
margin-left: 0px;
padding-bottom: 40px;
font-weight: bold; 
color: #555B61;

}
.lien{
float: center;
width: 50%;
height: 50%;
margin-left: 250px;
position: absolute;
margin-top: 20px;
}
.video{

position: relative;
float: center;

}
	

}