

/*PC*/

@media screen and (min-width: 1280px) {
	

	#titre{
		position: relative;
		margin-left: 100px;
		margin-top: 0px;
		font-size: 40px;
		overflow: hidden;
		color: #555B61;
	}


	.imagen1{
		width: 100px;
		position: absolute;
		left: 100px;
		top: 250px;
	}


	.imagen2{
		width: 100px;
		position: absolute;
		left: 400px;
		top: 250px;
	}


	.imagen3{
		width: 60px;
		position: absolute;
		left: 700px;
		top: 270px;
	}


	.imagen4{
		width: 70px;
		position: absolute;
		left: 800px;
		top: 270px;
	}



	.imagen5{
		width: 60px;
		position: absolute;
		left: 900px;
		top: 270px;
	}




	.imagen6{
		width: 70px;
		position: absolute;
		left: 1000px;
		top: 270px;
	}



	.adaptn1{
		position: relative;
		left: 80px;
		top: 240px;
		font-size: 25px;
		color: #555B61;
	}

	
	.adaptn2{
		position: relative;
		left: 350px;
		top: 200px;
		font-size: 25px;
		color: #555B61;
	}

	
	.adaptn3{
		position: relative;
		left: 800px;
		top: 160px;
		margin-bottom: 300px;
		font-size: 25px;
		color: #555B61;
	}


}



/*telephone vertical*/

@media screen and (max-width: 640px) {
	
	#titre{
		position: absolute;
		margin-left: 0px;
		margin-top: 0px;
		font-size: 25px;
		overflow: hidden;
		color: #555B61;
	}


	.imagen1{
		width: 60px;
		position: relative;
		left: 0px;
		top: -300px;
	}


	.imagen2{
		width: 60px;
		position: relative;
		left: -55px;
		top: -180px;
	}


	.imagen3{
		width: 45px;
		position: relative;
		left: -120px;
		top: -50px;
	}


	.imagen4{
		width: 60px;
		position: relative;
		left: -100px;
		top: -50px;
	}


	.imagen5{
		width: 45px;
		position: relative;
		left: -80px;
		top: -50px;
	}




	.imagen6{
		width: 60px;
		position: relative;
		left: -60px;
		top: -50px;
	}



	.adaptn1{
		position: relative;
		left: 100px;
		top: 90px;
		font-size: 15px;
		color: #555B61;
	}

	
	.adaptn2{
		position: relative;
		left: 100px;
		top: 180px;
		font-size: 15px;
		color: #555B61;
	}

	.adaptn3{
		position: relative;
		left: 280px;
		top: 290px;
		margin-bottom: 300px;
		font-size: 15px;
		color: #555B61;
	}


}



/*tel horizontal*/

@media screen and (min-width: 640px) and (max-width: 729px) {
	

	#titre{
		position: absolute;
		margin-left: 0px;
		margin-top: 0px;
		font-size: 30px;
		overflow: hidden;
		color: #555B61;
	}


	.imagen1{
		width: 65px;
		position: absolute;
		left: 0px;
		top: 120px;
	}


	.imagen2{
		width: 65px;
		position: absolute;
		left: 0px;
		top: 240px;
	}


	.imagen3{
		width: 50px;
		position: absolute;
		left: 0px;
		top: 345px;
	}


	.imagen4{
		width: 60px;
		position: absolute;
		left: 100px;
		top: 340px;
	}



	.imagen5{
		width: 50px;
		position: absolute;
		left: 200px;
		top: 345px;
	}




	.imagen6{
		width: 60px;
		position: absolute;
		left: 300px;
		top: 340px;
	}



	.adaptn1{
		position: relative;
		left: 150px;
		top: 50px;
		font-size: 20px;
		color: #555B61;
	}

	
	.adaptn2{
		position: relative;
		left: 150px;
		top: 150px;
		font-size: 20px;
		color: #555B61;
	}

	
	.adaptn3{
		position: relative;
		left: 370px;
		top: 220px;
		margin-bottom: 300px;
		font-size: 20px;
		color: #555B61;
	}


}


/*Ecran de tablette et tel horizontal de plus de 730*/


@media screen and (min-width: 730px) and (max-width: 1025px) {
	

	#titre{
		position: absolute;
		margin-left: 0px;
		margin-top: 0px;
		font-size: 40px;
		overflow: hidden;
		color: #555B61;
	}


	.imagen1{
		width: 80px;
		position: absolute;
		left: 50px;
		top: 160px;
	}


	.imagen2{
		width: 80px;
		position: absolute;
		left: 50px;
		top: 270px;
		
	}


	.imagen3{
		width: 50px;
		position: absolute;
		left: 50px;
		top: 400px;
	}


	.imagen4{
		width: 60px;
		position: absolute;
		left: 150px;
		top: 400px;
	}



	.imagen5{
		width: 50px;
		position: absolute;
		left: 250px;
		top: 400px;
	}




	.imagen6{
		width: 60px;
		position: absolute;
		left: 350px;
		top: 400px;
	}



	.adaptn1{
		position: relative;
		left: 230px;
		top: 120px;
		font-size: 20px;
		color: #555B61;
	}

	
	.adaptn2{
		position: relative;
		left: 230px;
		top: 180px;
		font-size: 20px;
		color: #555B61;
	}

	
	.adaptn3{
		position: relative;
		left: 450px;
		top: 270px;
		margin-bottom: 300px;
		font-size: 22px;
		color: #555B61;
	}


}



/*test*/

@media screen and (min-width: 1025px) and (max-width: 1280px) {
	

	#titre{
		position: absolute;
		margin-left: 0px;
		margin-top: 0px;
		font-size: 40px;
		overflow: hidden;
		color: #555B61;
	}


	.imagen1{
		width: 80px;
		position: absolute;
		left: 50px;
		top: 160px;
	}


	.imagen2{
		width: 80px;
		position: absolute;
		left: 50px;
		top: 270px;
		
	}


	.imagen3{
		width: 50px;
		position: absolute;
		left: 50px;
		top: 400px;
	}


	.imagen4{
		width: 60px;
		position: absolute;
		left: 150px;
		top: 400px;
	}



	.imagen5{
		width: 50px;
		position: absolute;
		left: 250px;
		top: 400px;
	}




	.imagen6{
		width: 60px;
		position: absolute;
		left: 350px;
		top: 400px;
	}



	.adaptn1{
		position: relative;
		left: 230px;
		top: 120px;
		font-size: 20px;
		color: #555B61;
	}

	
	.adaptn2{
		position: relative;
		left: 230px;
		top: 180px;
		font-size: 20px;
		color: #555B61;
	}

	
	.adaptn3{
		position: relative;
		left: 450px;
		top: 270px;
		margin-bottom: 300px;
		font-size: 22px;
		color: #555B61;
	}



}